*{
    background-color: gray;
    font-family: helvetica;
    position: relative;
    top:3%;
}

h1{
    background:lightgray;
    width:50%;
    margin:0px auto;
    color: gray;
}

.content{
    width:50%;
    margin:0px auto;
    color: gray;
    background-color: lightgray;
}

p{
    background-color: lightgray;
}

.image{

}
.imagesurround{
    text-align: right 
}